@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2 class="display-6">Click one of the options below to split your bill!</h2>
    <br />
    <button onclick="toItem()">Split By Item</button>
    <button onclick="toEven()">Split Evenly</button>
</div>
