@page
@{
    ViewData["Title"] = "Split Even";
    Layout = "_SplitEven";
}

<br />
<div class="text-center">
    
    <div id="centerDiv">
        <h1>Split Evenly</h1><br /><br /><br />
        <input type="number" id="price" placeholder="Total Price"/>
        <input type="number" id="people" placeholder="Number of people"/>
        <input type="number" id="tip" placeholder="Tip% (e.g. 20 = 20%) "/>
        <br />
        <button onclick="splitEven()">calculate</button>
    </div>

    <h3 class="display-6" id="result"></h3>
</div>